.homePage{
  h2{
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
  h3{
    max-resolution: 0;
    text-align: center;
  }
  p{
    text-align: end;
    margin-top: 10%;
  }
}