/*fonts--->*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  box-sizing: border-box;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex{
  display: flex;
}


.header__menu--icon-authorization{
  background-image: url(images/method-draw-image.svg);
  background-repeat: no-repeat;
  height: 125px;
  width: 56px;
  display: inline-block;
  background-position: -456px -151px;
  position: absolute;
  top: 0;
  right: 1rem;
}
.header__menu--icon-iGoOut{
   background-image: url(images/iGoOut3.svg);
   background-repeat: no-repeat;
  height: 45px;
  width: 48px;
  display: inline-block;
  background-position: 1px -2px;
  background-size: contain;
 }

.header__menu--icon-logo{
  background-image: url(images/method-draw-image.svg);
  background-repeat: no-repeat;
  height: 111px;
  width: 216px;
  display: inline-block;
  background-position: -238px -151px;
  position: absolute;
  top: 0;
  left: 1rem;
}

.main--flexibleMenu--arrow,.main--Menu--arrow{
  background-image: url(images/bootstrap-sprites.png);
  background-repeat: no-repeat;
  height: 17px;
  width: 16px;
  display: inline-block;
  background-position: -311px -114px;
}

.films--episod--1{
  background-image: url(images/episods/Star-Wars_Episode-I-The-Phantom-Menace.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 0px 0px;
  background-size: contain;
}
.films--episod--2{
  background-image: url(images/episods/Star-Wars_Episode-II-attackoftheclones.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 0px 0px;
  background-size: contain;
}
.films--episod--3{
  background-image: url(images/episods/Star-Wars_Episode-III-Revenge-of-the-Sith.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 0px 0px;
  background-size: contain;
}
.films--episod--4{
  background-image: url(images/episods/Star-Wars-4.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 0px 0px;
  background-size: contain;
}
.films--episod--5{
  background-image: url(images/episods/Star-Wars_3A-Episode-V-The-Empire-Strikes.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 10px -26px;
  background-size: contain;
}
.films--episod--6{
  background-image: url(images/episods/Star-Wars_3A-Episode-VI-Return-of-the-Jedi.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 0px 0px;
  background-size: contain;
}
.films--episod--7{
  background-image: url(images/episods/Star-Wars_3A-Episode-VII-The-Force-Awakens.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 0px -44px;
  background-size: contain;
}
.films--episod--8{
  background-image: url(images/episods/Star-Wars_3A-Episode-VIII-The-Last-Jedi.jpg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 277px;
  display: inline-block;
  background-position: 0px 0px;
  background-size: contain;
}

@media screen and (max-width: 48.999rem) and (min-width: 21rem){
  .header__menu--icon-authorization{
    background-image: url(images/authoriz-min.svg);
    background-repeat: no-repeat;
    width: 55px;
    height: 50px;
    background-position: -11px -4px;
    background-size: contain;
    position: absolute;
    top: -0.2rem;
    right: 0;
  }
  .header__menu--icon-iGoOut{
    background-image: url(images/iGoOut3.svg);
    background-repeat: no-repeat;
    height: 25px;
    width: 29px;
    display: inline-block;
    background-position: 1px -2px;
    background-size: contain;
  }

  .header__menu--icon-logo{
    background-image: url(images/logo-min.svg);
    background-repeat: no-repeat;
    width: 74px;
    height: 72px;
    background-position: -1px -4px;
    background-size: contain;
    position: absolute;
    top: -0.5rem;
    left: 8rem;
  }
  .header__menu--icon-hamburger{
    background-image: url(images/white-menu-icon.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    background-size: contain;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
}

@media screen and (max-width: 20.999rem){
  .header__menu--icon-authorization{
    background-image: url(images/authoriz-min.svg);
    background-repeat: no-repeat;
    width: 55px;
    height: 50px;
    background-position: -11px -4px;
    background-size: contain;
    position: absolute;
    top: -0.2rem;
    right: 0;
  }
  .header__menu--icon-iGoOut{
    background-image: url(images/iGoOut3.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 22px;
    display: inline-block;
    background-position: 1px -2px;
    background-size: contain;
  }

  .header__menu--icon-logo{
    background-image: url(images/logo-min.svg);
    background-repeat: no-repeat;
    width: 74px;
    height: 72px;
    background-position: -1px -4px;
    background-size: contain;
    position: absolute;
    top: -0.5rem;
    left: 8rem;
  }
  .header__menu--icon-hamburger{
    background-image: url(images/white-menu-icon.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    background-size: contain;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
  }
}


