.flexibleHeader {
  position: relative;

  .header__menu--container {
    position: relative;
    background-color: #4f5665;
    min-height: 2rem;
    margin-top: 1rem;
  }

  .header__outIn--block {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    text-align: end;
    display: flex;

    .header__menu--icon-iGoOut {
      margin-left: 1rem;
    }

    .header__menu__nickname {
      margin-top: -0.4rem;
    }
  }
}

@media screen and  (min-width: 49rem){
  .flexibleHeader{
    display: none;
  }
}

@media screen and (max-width: 48.999rem) and (min-width: 21rem){
  .flexibleHeader{
    display: block;
  }
}

@media screen and (max-width: 20.999rem){
  .flexibleHeader{
    display: block;
    .header__outIn--block {
      position: absolute;
      top: -0.4rem;
      right: 1rem;
      text-align: end;
      display: flex;
      flex-direction: column-reverse;

      .header__menu--icon-iGoOut {
        margin-left: 1rem;
      }

      .header__menu__nickname {
        margin-top: -0.4rem;
      }
    }
  }

}

